@import "../main.css";

.main_outer{
    width: 70%;
    height: 300px;
    margin: 0 auto;
}

.main_wrap{
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.wrap_header{
    width: 100%;
    height: 50px;
    background-color: #F8F9FC;
}

.wrap_header_p{
    padding-left: 5px;
    font-weight: bolder;
    font-size: 17px;
    margin-top: 8px;
    margin-left: 8px;

}

.wrap_form{
    padding-top: 15px;
    margin-right: 15px;
}

/*个人信息*/
.wrap_user{
    height:200px;
}

.wrap_user_inner{
    width: 100%;
    height: 150px;
    background-color: #FFFFFF;
}

/*更改密码*/
.wrap_pwd{
    height: 250px;
    margin-top: 50px;
}

.wrap_pwd_inner{
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
}

/*更改手机号码*/
.wrap_phoneNumber{
    height: 200px;
    margin-top: 50px;
}

.wrap_phoneNumber_inner{
    width: 100%;
    height: 150px;
    background-color: #FFFFFF;
}