<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>快取 - 下单</title>
  <link rel="stylesheet" href="/css/user/address.css">
  <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
</head>
<body>
<div id="address">
  <el-container>
    <el-header>
      <span class="logo">快 取</span>
      <span style="float: right; margin-right: 30px">
                <el-dropdown>
                    <el-button icon="el-icon-user-solid">{{username}}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <template #dropdown>
                        <el-dropdown-menu>
                          <el-dropdown-item><el-link href="userInfo"
                                                     :underline="false">个人中心</el-link></el-dropdown-item>
                          <el-dropdown-item><el-link href="/logout" :underline="false">登出</el-link></el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </span>
    </el-header>
    <el-container>
      <el-aside width="180px">
        <el-menu>
          <el-menu-item index="1" style="margin-top: 10px">
            <i class="el-icon-pie-chart"></i>
            <span slot="title"><el-link href="/courier/main" :underline="false">总览</el-link></span>
          </el-menu-item>
          <el-menu-item index="2">
            <i class="el-icon-s-custom"></i>
            <span slot="title"><el-link href="/courier/userInfo" :underline="false">个人中心</el-link></span>
          </el-menu-item>
          <el-menu-item index="3">
            <i class="el-icon-service"></i>
            <span slot="title"><el-link href="/courier/publishedOrder" :underline="false">接单大厅</el-link></span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-edit"></i>
            <span slot="title"><el-link href="/courier/addOrder" :underline="false">立即下单</el-link> </span>
          </el-menu-item>
          <el-menu-item index="5">
            <i class="el-icon-s-order"></i>
            <span slot="title"><el-link href="/courier/order" :underline="false">我的订单</el-link></span>
          </el-menu-item>
          <el-menu-item index="6">
            <i class="el-icon-wallet"></i>
            <span slot="title"><el-link href="/courier/wallet" :underline="false">我的钱包</el-link></span>
          </el-menu-item>
          <el-menu-item index="7">
            <i class="el-icon-map-location"></i>
            <span slot="title"><el-link href="/courier/address" :underline="false">地址管理</el-link></span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main>
        <div class="wrap">
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column prop="addressId" v-if="false"></el-table-column>
            <el-table-column label="区域" width="200">
              <template #default="scope">
                <el-select v-model="scope.row.regionId" disabled  placeholder="仅支持以下区域">
                  <el-option
                          v-for="region in regions"
                          :key="region.regionId"
                          :label="region.regionName"
                          :value="region.regionId">
                  </el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column prop="pickUpAddress" label="取件地址"></el-table-column>
            <el-table-column prop="receiveAddress" label="收件地址"></el-table-column>
            <el-table-column label="操作" width="200">
              <template #default="scope">
                <el-button size="mini" type="primary" @click="handleEdit(scope.row)">编辑</el-button>
                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>

          <div class="add-address">
            <div class="inner-header">
              <el-row type="flex" justify="space-between">
                <el-col :span="6"><p>新增地址</p></el-col>
                <el-col :span="6"><el-button type="primary" @click="addAddress()" round style="float: right;margin-right: 30px; margin-top: 4px">保存</el-button></el-col>
              </el-row>
            </div>
            <div class="inner-body">
              <el-form :model="form" :rules="rules" ref="form" label-width="110px" class="wrap_form">
                <el-form-item label="配送区域" prop="regionValue">
                  <el-select v-model="form.regionValue" placeholder="仅支持以下区域" style="width: 100%">
                    <el-option
                            v-for="region in regions"
                            :key="region.regionId"
                            :label="region.regionName"
                            :value="region.regionId">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item  label="取件地址" prop="pickUpAddress">
                  <el-input v-model="form.pickUpAddress"></el-input>
                </el-form-item>
                <el-form-item label="收件地址" prop="receiveAddress">
                  <el-input v-model="form.receiveAddress"></el-input>
                </el-form-item>
              </el-form>
            </div>
          </div>

          <el-dialog title="修改地址" v-model="dialogVisible" :append-to-body="true">
            <el-form :model="dialog" label-width="80px">
              <el-form-item label="区域">
                <el-select v-model="dialog.regionId" placeholder="仅支持以下区域">
                  <el-option
                          v-for="region in regions"
                          :key="region.regionId"
                          :label="region.regionName"
                          :value="region.regionId">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="取件地址">
                <el-input v-model="dialog.pickUpAddress"></el-input>
              </el-form-item>
              <el-form-item label="收件地址">
                <el-input v-model="dialog.receiveAddress"></el-input>
              </el-form-item>
            </el-form>
            <template #footer>
                        <span class="dialog-footer">
                            <el-button @click="dialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="submitUpdate()">确 定</el-button>
                        </span>
            </template>
          </el-dialog>

        </div>
      </el-main>
    </el-container>
  </el-container>
</div>
</body>
<script src="/js/tool/vue3.js"></script>
<script src="/js/tool/elementPlus.js"></script>
<script src="/js/tool/axios.min.js"></script>
<script src="/js/common/request.js"></script>
<script src="/js/user/address.js"></script>
</html>