<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快取 - 快取员</title>
    <link rel="stylesheet" href="/css/courier/main.css">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <span class="logo">快 取</span>
            <span style="float: right; margin-right: 30px">
                <el-dropdown>
                    <el-button icon="el-icon-user-solid">{{username}}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <template #dropdown>
                        <el-dropdown-menu>
                          <el-dropdown-item><el-link href="userInfo"
                                                     :underline="false">个人中心</el-link></el-dropdown-item>
                          <el-dropdown-item><el-link href="/logout" :underline="false">登出</el-link></el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </span>
        </el-header>
        <el-container>
            <el-aside width="180px">
                <el-menu>
                    <el-menu-item index="1" style="margin-top: 10px">
                        <i class="el-icon-pie-chart"></i>
                        <span slot="title"><el-link href="/courier/main" :underline="false">总览</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title"><el-link href="/courier/userInfo" :underline="false">个人中心</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-service"></i>
                        <span slot="title"><el-link href="/courier/publishedOrder" :underline="false">接单大厅</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-edit"></i>
                        <span slot="title"><el-link href="/courier/addOrder" :underline="false">立即下单</el-link> </span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-s-order"></i>
                        <span slot="title"><el-link href="/courier/order" :underline="false">我的订单</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-wallet"></i>
                        <span slot="title"><el-link href="/courier/wallet" :underline="false">我的钱包</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="7">
                        <i class="el-icon-map-location"></i>
                        <span slot="title"><el-link href="/courier/address" :underline="false">地址管理</el-link></span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <div class="main_info">
                    <!--滚动栏-->
                    <div>
                        <el-carousel :interval="3000" arrow="hover">
                            <el-carousel-item style="background-color: #D3DCE6">
                                <h3>1</h3>
                            </el-carousel-item>
                            <el-carousel-item style="background-color: #D3EDE6">
                                <h3>2</h3>
                            </el-carousel-item>
                        </el-carousel>
                    </div>
                    <!--信息总览-->
                    <div class="main_warp">
                        <el-row :gutter="30" type="flex" justify="space-around" style="height: 100%; width: 100%">
                            <el-col :span="6">
                                <div class="main_warp_inner">
                                    <el-link href="/courier/order" :underline="false" class="inner_link">
                                        <p class="inner_number" style="color: #E6A23C">{{acceptedOrder}}</p>
                                        <p class="inner_font">已接单</p>
                                    </el-link>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="main_warp_inner">
                                    <el-link href="/courier/order" :underline="false" class="inner_link">
                                        <p class="inner_number" style="color: #67C23A">{{deliveryOrder}}</p>
                                        <p class="inner_font">配送中</p>
                                    </el-link>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="main_warp_inner">
                                    <el-link href="/courier/order" :underline="false" class="inner_link">
                                        <p class="inner_number" style="color: #F56C6C">{{finishedOrder}}</p>
                                        <p class="inner_font">配送完成</p>
                                    </el-link>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="main_warp_inner">
                                    <el-link href="/courier/order" :underline="false" class="inner_link">
                                        <p class="inner_number" style="color: #9FA0D7">￥{{totalBalance / 100 }}</p>
                                        <p class="inner_font">已获得</p>
                                    </el-link>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="/js/tool/vue3.js"></script>
<script src="/js/tool/elementPlus.js"></script>
<script src="/js/tool/axios.min.js"></script>
<script src="/js/common/request.js"></script>
<script src="/js/courier/main.js"></script>
</html>