<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快取 - 我的钱包</title>
    <link rel="stylesheet" href="/css/courier/wallet.css">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <span class="logo">快 取</span>
            <span style="float: right; margin-right: 30px">
                <el-dropdown>
                    <el-button icon="el-icon-user-solid">{{username}}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <template #dropdown>
                        <el-dropdown-menu>
                          <el-dropdown-item><el-link href="userInfo"
                                                     :underline="false">个人中心</el-link></el-dropdown-item>
                          <el-dropdown-item><el-link href="/logout" :underline="false">登出</el-link></el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </span>
        </el-header>
        <el-container>
            <el-aside width="180px">
                <el-menu>
                    <el-menu-item index="1" style="margin-top: 10px">
                        <i class="el-icon-pie-chart"></i>
                        <span slot="title"><el-link href="/courier/main" :underline="false">总览</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title"><el-link href="/courier/userInfo" :underline="false">个人中心</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-service"></i>
                        <span slot="title"><el-link href="/courier/publishedOrder"
                                                    :underline="false">接单大厅</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-edit"></i>
                        <span slot="title"><el-link href="/courier/addOrder" :underline="false">立即下单</el-link> </span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-s-order"></i>
                        <span slot="title"><el-link href="/courier/order" :underline="false">我的订单</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-wallet"></i>
                        <span slot="title"><el-link href="/courier/wallet" :underline="false">我的钱包</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="7">
                        <i class="el-icon-map-location"></i>
                        <span slot="title"><el-link href="/courier/address" :underline="false">地址管理</el-link></span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <div class="wallet">
                    <div class="balance">
                        <el-row>
                            <el-col :span="4">
                                <div>
                                    <span style="color: #2ed573">￥{{balance /100}}</span>
                                    <p style="margin-top: 15px">
                                        <span>可用余额</span>
                                        <el-button type="primary" @click="dialogVisible=true" size="small" round style="margin-left: 12px;margin-top: 0">提现</el-button>
                                    </p>
                                </div>
                            </el-col>
                            <el-col :span="4" :offset="15">
                                <div>
                                    <span style="color: #70a1ff">￥{{totalBalance /100}}</span>
                                    <p style="padding-left: 15px;margin-top: 13px">总共获得</p>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
                <div>
                    <div style="margin-top: 20px;padding-left:10px ;line-height: 20px;font-size: 16px;font-weight: bold">余额变动记录</div>
                    <div>
                        <el-table :data="tableData" border style="width: 100%">
                            <el-table-column type="index" label="序号" width="50"></el-table-column>
                            <el-table-column prop="amount" label="金额/元" width="150">
                                <template #default="scope">
                                    {{scope.row.amount / 100}}
                                </template>
                            </el-table-column>
                            <el-table-column prop="time" label="时间" width="220"></el-table-column>
                            <el-table-column prop="remark" label="备注" width=""></el-table-column>
                        </el-table>
                    </div>
                </div>
                <el-dialog title="提现" v-model="dialogVisible" :append-to-body="true">
                    <el-form :model="form" label-width="80px">
                        <el-form-item label="金额" label-width="100px">
                            <el-input v-model="form.amount"></el-input>
                        </el-form-item>
                    </el-form>
                    <template #footer>
                        <span class="dialog-footer">
                            <el-button @click="dialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="getMoney()">确 定</el-button>
                        </span>
                    </template>
                </el-dialog>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="/js/tool/vue3.js"></script>
<script src="/js/tool/elementPlus.js"></script>
<script src="/js/tool/axios.min.js"></script>
<script src="/js/common/request.js"></script>
<script src="/js/courier/wallet.js"></script>
</html>