<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快取 - 加入我们</title>
    <link rel="stylesheet" href="/css/user/becomeSender.css">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
</head>
<body>
<div id="becomeSender">
    <el-container>
        <el-header>
            <span class="logo">快 取</span>
            <span style="float: right; margin-right: 30px">
                <el-dropdown>
                    <el-button icon="el-icon-user-solid">{{username}}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <template #dropdown>
                        <el-dropdown-menu>
                          <el-dropdown-item><el-link href="userInfo"
                                                     :underline="false">个人中心</el-link></el-dropdown-item>
                          <el-dropdown-item><el-link href="/logout" :underline="false">登出</el-link></el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </span>
        </el-header>
        <el-container>
            <el-aside width="180px">
                <el-menu>
                    <el-menu-item index="1" style="margin-top: 10px">
                        <i class="el-icon-pie-chart"></i>
                        <span slot="title"><el-link href="/user/main" :underline="false">总览</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title"><el-link href="/user/userInfo" :underline="false">个人中心</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-edit"></i>
                        <span slot="title"><el-link href="/user/addOrder" :underline="false">立即下单</el-link> </span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-s-order"></i>
                        <span slot="title"><el-link href="/user/order" :underline="false">我的订单</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-map-location"></i>
                        <span slot="title"><el-link href="/user/address" :underline="false">地址管理</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-collection-tag"></i>
                        <span slot="title"><el-link href="feedback" :underline="false">反馈建议</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="7">
                        <i class="el-icon-service"></i>
                        <span slot="title"><el-link href="/user/becomeSender" :underline="false">成为快取员</el-link></span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <div class="wrap_outer">
                    <div class="wrap">
                        <p class="title">用户须知</p>
                        <div>
                            <p>(1)、我们是什么？这是一个大学校园快递互助取件平台。</p>
                            <p>(2)、本平台旨在提升大学校园快递的取件效率，减轻菜鸟驿站等快递自提点的人流量和提高同学们的取件体验、节省时间。</p>
                            <p>(3)、是否觉得取件太麻烦？太拥挤？排队时间长？本平台可以帮助您取件，为您提供取件送到门的服务。</p>
                            <p>(4)、同时同学们在必要去自提点取快递时，可以选择帮助其他同学取件，尽举手之劳，构建和谐校园；并且，其中的一些快递含有报酬，可以获得一定的酬劳哦！快来加入我们吧！</p>
                        </div>
                        <p class="title">填写个人信息</p>
                        <el-form label-width="85px" style="margin-right: 15px">
                            <el-form-item label="姓名">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                            <el-form-item label="身份证号">
                                <el-input v-model="form.identityNumberId"></el-input>
                            </el-form-item>
                            <el-form-item label="手机号码">
                                <el-input v-model="form.phoneNumber"></el-input>
                            </el-form-item>
                            <el-form-item label="验证码">
                                <el-row :gutter="100" style="margin-left: 0">
                                    <el-col :span="10" style="padding-left: 0;"><el-input v-model="form.smsCode"></el-input></el-input></el-col>
                                    <el-col :span="5"><el-button type="primary" plain>获取验证码</el-button></el-col>
                                </el-row>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="success" style="width: 80%; margin-left: 30px">加入</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="/js/tool/vue3.js"></script>
<script src="/js/tool/elementPlus.js"></script>
<script src="/js/tool/axios.min.js"></script>
<script src="/js/user/becomeSender.js"></script>
</html>