<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快取 - 我的订单</title>
    <link rel="stylesheet" href="/css/user/addOrder.css">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
</head>
<body>
<div id="order">
    <el-container>
        <el-header>
            <span class="logo">快 取</span>
            <span style="float: right; margin-right: 30px">
                <el-dropdown>
                    <el-button icon="el-icon-user-solid">{{username}}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <template #dropdown>
                        <el-dropdown-menu>
                          <el-dropdown-item><el-link href="userInfo"
                                                     :underline="false">个人中心</el-link></el-dropdown-item>
                          <el-dropdown-item><el-link href="/logout" :underline="false">登出</el-link></el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </span>
        </el-header>
        <el-container>
            <el-aside width="180px">
                <el-menu>
                    <el-menu-item index="1" style="margin-top: 10px">
                        <i class="el-icon-pie-chart"></i>
                        <span slot="title"><el-link href="/user/main" :underline="false">总览</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title"><el-link href="/user/userInfo" :underline="false">个人中心</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-edit"></i>
                        <span slot="title"><el-link href="/user/addOrder" :underline="false">立即下单</el-link> </span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-s-order"></i>
                        <span slot="title"><el-link href="/user/order" :underline="false">我的订单</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-map-location"></i>
                        <span slot="title"><el-link href="/user/address" :underline="false">地址管理</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-collection-tag"></i>
                        <span slot="title"><el-link href="/feedback" :underline="false">反馈建议</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="7">
                        <i class="el-icon-service"></i>
                        <span slot="title"><el-link href="/user/becomeSender" :underline="false">成为快取员</el-link></span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <el-table :data="tableData" :default-sort="{prop: 'createTime', order: 'descending'}"
                          highlight-current-row border style="width: 100%">
                    <el-table-column type="index" width="50" label="序号"></el-table-column>
                    <el-table-column prop="orderId" width="145" label="订单编号"></el-table-column>
                    <el-table-column prop="regionName" sortable width="110" label="区域"></el-table-column>
                    <el-table-column prop="detailedAddress" width="250" label="详细地址"></el-table-column>
                    <el-table-column prop="courierNumber" width="130" label="快递编号"></el-table-column>
                    <el-table-column prop="courierCompany" sortable width="110" label="快递公司"></el-table-column>
                    <el-table-column prop="courierCode" width="80" label="取件码"></el-table-column>
                    <el-table-column prop="courierName" sortable width="90" label="快取员"></el-table-column>
                    <el-table-column prop="createTime" sortable width="140" label="下单时间"></el-table-column>
                    <el-table-column prop="payId" width="145" label="支付编号"></el-table-column>
                    <el-table-column prop="money" width="50" label="费用"></el-table-column>
                    <el-table-column prop="status" sortable label="状态">
                        <template #default="scope">
                            <el-tag style="width: 70px" effect="dark" :type="this.getStatus(scope.row.status)">
                                {{ scope.row.status }}
                            </el-tag>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="/js/tool/vue3.js"></script>
<script src="/js/tool/elementPlus.js"></script>
<script src="/js/tool/axios.min.js"></script>
<script src="/js/user/order.js"></script>
</html>