<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快取 - 我的订单</title>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/user/addOrder.css">
</head>
<body>
<div id="order">
    <el-container>
        <el-header>
            <span class="logo">快 取</span>
            <span style="float: right; margin-right: 30px">
                <el-dropdown>
                    <el-button icon="el-icon-user-solid">{{username}}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <template #dropdown>
                        <el-dropdown-menu>
                          <el-dropdown-item><el-link href="userInfo"
                                                     :underline="false">个人中心</el-link></el-dropdown-item>
                          <el-dropdown-item><el-link href="/logout" :underline="false">登出</el-link></el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </span>
        </el-header>
        <el-container>
            <el-aside width="180px">
                <el-menu>
                    <el-menu-item index="1" style="margin-top: 10px">
                        <i class="el-icon-pie-chart"></i>
                        <span slot="title"><el-link href="/user/main" :underline="false">总览</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title"><el-link href="/user/userInfo" :underline="false">个人中心</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-edit"></i>
                        <span slot="title"><el-link href="/user/addOrder" :underline="false">立即下单</el-link> </span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-s-order"></i>
                        <span slot="title"><el-link href="/user/order" :underline="false">我的订单</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-map-location"></i>
                        <span slot="title"><el-link href="/user/address" :underline="false">地址管理</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-collection-tag"></i>
                        <span slot="title"><el-link href="feedback" :underline="false">反馈建议</el-link></span>
                    </el-menu-item>
                    <el-menu-item index="7">
                        <i class="el-icon-service"></i>
                        <span slot="title"><el-link href="/user/becomeSender" :underline="false">成为快取员</el-link></span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <el-table :data="tableData" :default-sort="{prop: 'createTime', order: 'descending'}"
                          highlight-current-row border style="width: 100%">
                    <!-- 展开 -->
                    <el-table-column type="expand">
                        <template #default="props">
                            <el-form label-position="left" inline class="table-expand">
                                <el-form-item label="订单编号" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.orderId }}</span>
                                </el-form-item>
                                <el-form-item label="区域" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.regionName }}</span>
                                </el-form-item>
                                <el-form-item label="取件地址" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.pickUpAddress }}</span>
                                </el-form-item>
                                <el-form-item label="快递编号" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.expressNumber }}</span>
                                </el-form-item>
                                <el-form-item label="快递公司" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.expressCompany }}</span>
                                </el-form-item>
                                <el-form-item label="快递类型" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.expressType }}</span>
                                </el-form-item>
                                <el-form-item label="取件码" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.expressCode }}</span>
                                </el-form-item>
                                <el-form-item label="收件人" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.name }}</span>
                                </el-form-item>
                                <el-form-item label="取件电话" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.phoneNumber }}</span>
                                </el-form-item>
                                <el-form-item label="收件地址" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.receiveAddress }}</span>
                                </el-form-item>
                                <el-form-item label="快取员编号" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.courierId }}</span>
                                </el-form-item>
                                <el-form-item label="快取员" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.courierName }}</span>
                                </el-form-item>
                                <el-form-item label="快取员电话" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.courierPhoneNumber }}</span>
                                </el-form-item>
                                <el-form-item label="下单时间" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{props.row.createTimeString}}</span>
                                </el-form-item>
                                <el-form-item label="支付编号" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.payId }}</span>
                                </el-form-item>
                                <el-form-item label="费用" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.fee }}</span>
                                </el-form-item>
                                <el-form-item label="备注" style="width: 50%;margin-right: 0;margin-bottom: 0;">
                                    <span>{{ props.row.remark }}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column type="index" width="50" label="序号"></el-table-column>
                    <el-table-column prop="pickUpAddress" width="250" label="取件地址"></el-table-column>
                    <el-table-column prop="receiveAddress" width="130" label="收件地址"></el-table-column>
                    <el-table-column prop="expressCompany" sortable width="110" label="快递公司"></el-table-column>
                    <el-table-column prop="expressCode" width="80" label="取件码"></el-table-column>
                    <el-table-column prop="name" width="80" label="收件人"></el-table-column>
                    <el-table-column prop="phoneNumber" width="120" label="取件电话"></el-table-column>
                    <el-table-column prop="courierName" sortable width="90" label="快取员"></el-table-column>
                    <el-table-column prop="courierPhoneNumber" width="110" label="快取员电话"></el-table-column>
                    <el-table-column prop="createTimeString" sortable width="180" label="下单时间"></el-table-column>
                    <el-table-column prop="fee" width="70" label="费用/元"></el-table-column>
                    <el-table-column prop="orderStatus" width="110" sortable label="状态">
                        <template #default="scope">
                            <el-tag style="width: 80px" effect="dark" :type="this.getStatusType(scope.row.orderStatus)">
                                {{ getStatus(scope.row.orderStatus) }}
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template #default="scope">
                            <el-button size="small" v-if="scope.row.orderStatus != 'CONFIRMED_ORDER' " @click="confirmReceived(scope.row)" style="background-color: #8e44ad; color: white">确认收货</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="/js/tool/vue3.js"></script>
<script src="/js/tool/elementPlus.js"></script>
<script src="/js/tool/axios.min.js"></script>
<script src="/js/common/request.js"></script>
<script src="/js/user/order.js"></script>
</html>