.el-header, .el-footer {
    background-color: #66B1FF;
    color: #333;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #F4F4F5;
    color: #333;
}

.el-container{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.logo{
    font-family: "PingFang SC";
    font-size: 30px;
    color: #303133;
}