.el-header, .el-footer {
    background-color: #E9E9EB;
    color: #333;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #F4F4F5;
    color: #333;
}

.el-container{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.logo{
    font-family: 楷体;
    font-size: 25px;
    color: #303133;
}

.wrap{
    width: 450px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap_inner{
    /*background: #333333;*/
    position: relative;
    width: 80%;
    top: 60px;
}

.input_name{
    width: 90%;
    margin: 5px;
}

.input_pwd{
    width: 90%;
    margin: 5px;
}

.login_button{
    width: 90%;
    margin: 5px;
}