@import "common.css";

.wrap{
    position: relative;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #FFFFFF;*/
    width: 400px;
    height: 200px;
}

.wrap_inner{
    padding: 15px;
}

.input_name{
    width: 90%;
    margin: 5px;
}

.input_pwd{
    width: 90%;
    margin: 5px;
}

.input_phone{
    width: 90%;
    margin: 5px;
}

.input_sms_code{
    width: 90%;
    margin: 5px;
}

.login_button{
    width: 90%;
    margin: 5px;
}