<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body style="margin: 0">

<div id="app">
    <el-container direction="vertical">
        <el-header>
            <span class="logo">快 取</span>
            <!--<span style="float: right; margin-right: 15px">
                <el-link type="primary" disabled><i class="el-icon-user-solid"></i></el-link>
            </span>-->
        </el-header>
        <el-main>
            <div class="wrap">
                <div class="wrap_inner">
                    <el-form>
                        <div v-if="!phoneLogin">
                            <el-input placeholder="账号" class="input_name" v-model="form.username" prefix-icon="el-icon-message" clearable></el-input>
                            <el-input placeholder="密码" class="input_pwd" v-model="form.password" prefix-icon="el-icon-lock" onkeydown="app.keyboardEvent(event)" show-password clearable></el-input>
                        </div>
                        <div v-if="phoneLogin">
                            <el-input placeholder="手机号码" class="input_phone" v-model="form.phoneNumber" prefix-icon="el-icon-mobile-phone" clearable></el-input>
                            <el-row class="input_sms_code" :glutter="20">
                                <el-col :span="14" :offset="0"><el-input placeholder="验证码" v-model="form.smsCode" onkeydown="app.keyboardEvent(event)" prefix-icon="el-icon-chat-round" clearable></el-input></el-col>
                                <el-col :span="6" :offset="2">
                                    <el-button plain v-if="form.canGetSmsCode" @click="getSmsCode">获取验证码</el-button>
                                    <el-button v-if="!form.canGetSmsCode" disabled>{{timeRemaining}} 秒后重试</el-button>
                                </el-col>
                            </el-row>
                        </div>
                        <el-button type="primary" class="login_button" @click="login" round plain>登录</el-button>
                        <el-row :glutter="20">
                            <el-col :span="5" :offset="1"><el-button @click="changeLoginWay" type="text">{{loginWay}}</el-button></el-col>
                            <el-col :span="5" :offset="4"><el-button @click="registerUser" type="text">注册</el-button></el-col>
                            <el-col :span="5" :offset="2"><el-button @click="forgetPwd" type="text">忘记密码</el-button></el-col>
                        </el-row>
                    </el-form>
                </div>
            </div>
        </el-main>
    </el-container>
</div>
<script src="/js/tool/vue.js"></script>
<script src="/js/tool/element-ui.js"></script>
<script src="/js/tool/axios.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>