<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luosico.mapper.OrderMapper">

    <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into express_order
        (user_id,
         pay_id,
         courier_id,
         express_id,
         order_status)
        values (#{userId},
                #{payId},
                #{courierId},
                #{expressId},
                #{orderStatus})
    </insert>
    <update id="updateOrderStatus">
        update express_order
        set order_status = #{orderStatus}
        where order_id = #{orderId}
    </update>
    <select id="selectOrder" resultType="com.luosico.domain.Order">
        select (1)
        from express_order
        <where>
            <if test="order_id != null">
                and order_id = #{orderId}
            </if>
            <if test="user_id != null ">
                and user_id = #{userId}
            </if>
            <if test="pay_id != null ">
                and pay_id = #{payId}
            </if>
            <if test="courier_id != null ">
                and courier_id = #{courierId}
            </if>
            <if test="express_id != null ">
                and express_id = #{expressId}
            </if>
        </where>
    </select>
    <select id="selectUserOrder" resultType="com.luosico.domain.UserOrder">
        select o.order_id orderId,
               region_name regionName,
               a.pick_up_address pickUpAddress,
               a.receive_address receiveAddress,
               e.name name,
               e.express_number expressNumber,
               e.express_company expressCompany,
               e.express_code expressCode,
               e.phone_number phoneNumber,
               e.express_type expressType,
               c.courier_id courierId,
               c.name courierName,
               c.phone_number courierPhoneNumber,
               e.fee fee,
               p.pay_id payId,
               o.create_time createTime,
               o.order_status orderStatus
        from express_order o
                 inner join express e on o.express_id = e.express_id
                 inner join address a on a.address_id = e.address_id
                 inner join region on a.region_id = region.region_id
                 inner join pay p on p.pay_id = o.pay_id
                 left join (
            select c.courier_id, user.name, user.phone_number
            from user
                     inner join courier c on user.id = c.user_id
        ) c on o.courier_id = c.courier_id
        where o.user_id = #{userId};
    </select>
</mapper>