<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luosico.mapper.UserMapper">

    <insert id="addUser" useGeneratedKeys="true" keyProperty="user.id">
        insert into user(username,
                         password,
                         phone_number,
                         create_time,
                         authorities,
                         credentials_non_expired,
                         account_non_expired,
                         account_non_locked,
                         enabled)
        values (#{user.username},
                #{user.password},
                #{user.phoneNumber},
                #{user.createTime, jdbcType=TIMESTAMP},
                #{authority},
                #{user.credentialsNonExpired},
                #{user.accountNonExpired},
                #{user.accountNonLocked},
                #{user.enabled})
    </insert>

    <select id="SelectUserByPhoneNumber" resultType="com.luosico.domain.User">
        select id,
               username,
               name,
               password,
               phone_number,
               create_time,
               authorities authority,
               credentials_non_expired,
               account_non_expired,
               account_non_locked,
               enabled
        from user
        where phone_number = #{phoneNumber}
    </select>

    <select id="selectProperty" resultType="java.lang.Integer">
        select count(1)
        from user
        where 1=1
        <if test="name == 'username'">
            and username = #{val}
        </if>
        <if test="name == 'phoneNumber'">
            and phone_number = #{val}
        </if>
    </select>
    <select id="selectUserIdByUsername" resultType="java.lang.String">
        select id
        from user
        where
        <choose>
            <when test="username !=null and username != ''">
                username = #{username}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>
    <select id="selectPhoneNumber" resultType="java.lang.String">
        select phone_number
        from user
        where
        <choose>
            <when test="userId!=null and userId!=''">
                id = #{userId}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>

    <select id="selectUserByUsername" resultType="com.luosico.domain.User">
        select
        id,
        username,
        name,
        password,
        phone_number,
        create_time,
        authorities authority,
        credentials_non_expired,
        account_non_expired,
        account_non_locked,
        enabled
        from user
        where username = #{username}
        <!--select
        id
        <if test="username!=null and username!=''">
            ,username
        </if>
        <if test="name!=null and name!=''">
            ,name
        </if>
        <if test="createTime!=null">
            ,create_time
        </if>
        <if test="authority!=null and authority!=''">
            ,authorities
        </if>
        <if test="accountNonExpired=-1">
            ,account_non_expired
        </if>
        <if test="accountNonLocked=-1">
            ,account_non_locked
        </if>
        <if test="credentialsNonExpired=-1">
            ,credentials_non_expired
        </if>
        <if test="enabled=-1">
            ,enabled
        </if>
        from user
        where
        <choose>
            <when test="username!=null and username!=''">
                username = #{username}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>-->
    </select>

    <update id="updateUser">
        update
        user
        <set>
            <if test="user.username != null and user.name != '' ">
                username = #{user.username}
            </if>
            <if test="user.phoneNumber != null and user.phoneNumber != '' ">
                phone_number = #{user.phoneNumber}
            </if>
            <if test="user.password != null and user.password != '' ">
                ,password = #{user.password}
            </if>
            <if test="user.accountNonExpired != null and user.accountNonExpired != '' ">
                ,credentials_non_expired = #{user.accountNonExpired}
            </if>
            <if test="user.accountNonLocked != null and user.accountNonLocked != '' ">
                ,account_non_locked = #{user.accountNonLocked}
            </if>
            <if test="user.credentialsNonExpired != null and user.credentialsNonExpired != '' ">
                ,account_non_expired = #{user.credentialsNonExpired}
            </if>
            <if test="user.enabled != null and user.enabled != '' ">
                ,enabled = #{user.enabled}
            </if>
        </set>
        where
        1=1
        <choose>
            <when test="user.username != null and user.username != ''">
                and username = #{user.username}
            </when>
            <when test="user.phoneNumber != null and user.phoneNumber != ''">
                and phone_number = #{user.phoneNumber}
            </when>
            <otherwise>
                and 1=2
            </otherwise>
        </choose>
    </update>
    <update id="updateUserName">
        update user
        <set>
            <if test="newUsername != null and newUsername != '' ">
                username = #{newUsername},
            </if>
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            username = #{username}
        </set>
        where
        <choose>
            <when test="username !=null and username != ''">
                username = #{username}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </update>

    <update id="updatePhoneNumber">
        update user
        <set>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number = #{phoneNumber},
            </if>
            username = #{username}
        </set>
        where
        <choose>
            <when test="username !=null and username != ''">
                username = #{username}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </update>

</mapper>